<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DevStatusFileName" value="DevStatus.ini"/>
    <add key="DevStatusURL" value="d:\Bin_Release_致新电容测试系统_V4.0723\configfile\"/>
    <add key="MESServerUrl" value="http://localhost:81" />
  </appSettings>
</configuration>